### phpstorm configuration ###
/.idea

### docker-compose ###
docker-compose.override.yml

###> symfony/framework-bundle ###
.env.local
/public/bundles/
node_modules/
/var/
/vendor/
###< symfony/framework-bundle ###.idea
git

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
